<html>
    <head>
        <link type="text/css" rel="stylesheet" href="stylesheets/style.css" />
    </head>
    <body>
        <h1>Event Registration</h1>
        <fieldset>
            <legend>Event Registration</legend>
            <form action="/event/create" method="post">
                <div><label for="code_id">Code </label><input id="code_id" type="text" value="" name="code" /></div>
                <br />
                <div><label for="name_id">Name</label><input id="name_id" type="text" value="" name="name" /></div>
                <br />
                <div>