
<html>
<head>
<link type="text/css" rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
<h1 id="heading">SMS Registration</h1>
<fieldset>
    <legend>Registration Details</legend>
<form action="http://fbaidoo.com/SendSMS.php" method="post">
<div ><label for="name">Your Name </label><input
     id="fname" type="text" value="" name="fname" />
<div ><label for="phone number">Phone Number </label><input 
     id="phone_no" type="text" value="" name="phone" />
</div>
<br />
<div id="phone_eg"> Eg: 23343500000</div>
<br />
<div><label for="content">Body of SMS </label>
<textarea id="content" cols="75" rows="8" name="body"></textarea></div>
<br />
<div id="message_eg">Eg: Register 144, where 144 is the event id</div>
</fieldset>
<div><input type="submit" value="Register" /> <input type="reset"	value="Clear" /></div>
</form>
</body>
</html>
