
<html>
<head>
<link type="text/css" rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
<h1 id="heading">SMS Registration</h1>
<fieldset>
    <legend>Registration Details</legend>
<form action="/register" method="post">
<div ><label for="entry_0">Phone Number </label> <input
    id="entry_0" type="text" value="" name="phone" /></div>
<br />
<div id="phone_eg"> Eg: +23343500000</div>
<br />
<div><label for="entry_1">Body of SMS </label>
<textarea id="entry_1" cols="75" rows="8" name="body"></textarea></div>
<br />
<div id="message_eg">Eg: Register 144, where 144 is the event id</div>
</fieldset>
<div><input type="submit" value="Submit" /> <input type="reset"	value="Clear" /></div>
</form>
</body>
</html>